---
import Logo from "./Logo.astro";
---

<header class="bg-white px-10 py-6">
  <div
    class="w-full mx-auto container flex justify-between items-center flex-col md:flex-row"
  >
    <Logo />
    <div>
      <a
        href="/login"
        class="bg-transparent border border-indigo-700 text-indigo-700 px-10 py-3 font-medium rounded transition-colors duration-300 hover:bg-indigo-700 hover:text-white"
        >Login</a
      >
    </div>
  </div>
</header>
