<section class="relative h-52 overflow-hidden md:h-96">
  <div
    class="bg-[url('../images/banner.png')] absolute h-full w-full bg-cover bg-no-repeat bg-center -z-1 size"
  >
  </div>
  <div class="absolute h-full w-full bg-black/30 bg-gradient-to-b"></div>

  <div
    class="relative w-full h-full px-4 mx-auto container text-white pb-6 flex flex-col justify-end gap-2 md:pb-10 md:gap-4 md:px-0"
  >
    <h2 class="font-bold text-3xl md:text-6xl">Mayo Promocional</h2>
    <p class="font-semibold text-md md:text-xl">
      Productos selecionados con 33% de descuento.
    </p>
    <div>
      <a
        href="/products/consolas"
        class="inline-flex bg-indigo-700 p-3 rounded font-semibold transition-colors duration-300 hover:bg-indigo-600"
        >Ver Consolas</a
      >
    </div>
  </div>
</section>
