---
import IconGameController from "./icons/GameController.astro";
---

<a href="/" class="inline-flex gap-2 items-center">
  <IconGameController class="text-indigo-600 size-11" />
  <h1 class="font-bold text-2xl text-gray-700">
    <span class="text-indigo-600">Game</span>Hub
  </h1>
</a>
