---
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import data from "@/data.json";
import Card from "@/components/Card.astro";
---

<Layout title="GameHub - Products">
  <main>
    <SectionContainer
      className="py-16 px-4 md:py-24 md:px-0"
      title="Productos"
      withHeader
    >
      <div
        class="grid gap-4 gap-y-8 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6"
      >
        {
          data.products.map((product) => {
            return <Card {...product} />;
          })
        }
      </div>
    </SectionContainer>
  </main>
</Layout>

<style>
  .customContainer {
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  }
</style>
